<section class="py-5">
    <div class="w-100 text-center py-5">
        <h2 class="head-name pt-2">CONATCT SECTION</h2>
        <div>
            <i class="fa-solid fa-star mx-2"></i>
            <div class="line"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 d-flex justify-content-center">
                <form class=" w-75">
                    <input type="text" class="w-100 form-control py-2 my-3"
                        placeholder="Name">
                    <input type="number" class="w-100 form-control py-2 my-3"
                        placeholder="Age">
                    <input type="email" class="w-100 form-control py-2 my-3"
                        placeholder="Email">
                    <label></label>
                    <textarea name="message" class="w-100 form-control"
                        cols="30" rows="5" placeholder="Message"></textarea>
                    <button class="bt1 btn mt-3">send message</button>
                </form>

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
